@import '../packages/longuniquename:bootstrap-material/less/material.import.less';
@import '../packages/longuniquename:bootstrap-material/less/ripples.import.less';
@import (reference) 'lib/variables.import.less';
@import (reference) 'lib/mixins.import.less';
@import 'lib/buttons.import.less';
@import 'lib/navbar.import.less';

html, body {
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
}

form.form-horizontal {
  overflow-x: hidden;
}

.page-header {
  &.text-danger {
    border-bottom-color: fade(darken(@brand-danger, 15%), 50%);
  }
}

.block {
  margin: 0 0 @grid-gutter-width / 2 0;
  .page-header:first-child {

  }
}

form {
  textarea {
    max-width: 100%;
    min-width: 100%;
  }
}

.togglebutton-facebook {
  .togglebutton-material-variant(@facebook-color);
}

body .jumbotron {
  background-color: darken(@brand-primary, 5%);
  color: white;
  .shadow-z(0);
  border-radius: 0;
  padding: @grid-gutter-width 0;
}

body {
  #PPDGFrame {
    .panel {
      box-shadow: none;
      background: transparent;
      border-radius: 0;
      border: none;
      transition: none;
      margin: 0;
    }

    .mask {
      opacity: 0.3;
    }
  }
}
