@import url(http://fonts.googleapis.com/css?family=Roboto:400,100,100italic,300,300italic,400italic,500,500italic,700,700italic,900,900italic);
@import (reference) 'lib/variables.import.less';
@import (reference) 'lib/mixins.import.less';
@import 'lib/fonts.import.less';
@import 'lib/buttons.import.less';

html, body {
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  letter-spacing: .1;
}

form.form-horizontal {
  overflow-x: hidden;
}

.page-header {
  &.text-danger {
    border-bottom-color: fade(darken(@brand-danger, 15%), 50%);
  }
}

.block {
  margin: 0 0 @grid-gutter-width / 2 0;
  .page-header:first-child {

  }
}

form {
  textarea {
    max-width: 100%;
    min-width: 100%;
  }
}
