<template name="splashView">
    <section class="splash-view">
        <div class="wrapper">
            <svg class="logo" width="160px" height="91px" viewbox="0 0 160 91">
                <polygon points="0,0 0,22.36067977 20,32.36067977 20,10 "></polygon><polygon points="25,12.5 25,34.86067977 45,44.86067977 45,22.5 "></polygon><polygon points="50.59016994,25.29508497 80,40 160,0 160,22.36067977 80,62.36067977 50.59016994,47.65576475 "></polygon><polygon points="0,27.95084972 0,50.31152949 20,60.31152949 20,37.95084972 "></polygon><polygon points="25,40.45084972 25,62.81152949 45,72.81152949 45,50.45084972 "></polygon><polygon points="50.59016994,53.24593469 80,67.95084972 160,27.95084972 160,50.31152949 80,90.31152949 50.59016994,75.60661447 "></polygon>
            </svg>
            <span class="title">
                Merchist
            </span>
            <section class="content">
                {{ #if loggingIn }}
                    <div class="loading">
                        <svg class="loader" height="20px" width="70px" viewBox="0 0 70 20">
                            <circle r="4" cy="10" cx="10" ></circle>
                            <circle r="4" cy="10" cx="35" ></circle>
                            <circle r="4" cy="10" cx="60" ></circle>
                        </svg>
                    </div>
                {{ else }}
                    <div class="auth">
                        <button type="button" class="btn btn-facebook btn-block facebookBtn">
                            Sign In with Facebook
                        </button>
                    </div>
                {{ /if }}
            </section>
        </div>
    </section>
</template>
