<template name="productCardPartial">
    <div class="product-card-partial">
        <div class="image-wrapper">
            <a class="image-holder" href="{{pathFor route='product' data=this }}">
                {{ #with image }}
                    <img src="{{ url store='l' auth=false }}" />
                {{ /with }}
            </a>
        </div>
        <div class="action">
            {{ #if isMy }}
                <a href="{{pathFor route='product' data=this }}" class="btn btn-fab btn-raised btn-primary editBtn">
                    <i class="mdi-content-create"></i>
                </a>
            {{ else }}
                {{ #if inventory.available }}
                    <button type="button" class="btn btn-fab btn-raised btn-primary buyBtn">
                        <i class="mdi-action-shopping-basket"></i>
                    </button>
                {{ else }}
                    <button type="button" class="btn btn-fab btn-raised btn-default" disabled>
                        <i class="mdi-content-clear"></i>
                    </button>
                {{ /if }}
            {{ /if }}
        </div>
        <div class="info">
            <h3 class="title">
                {{title}}
            </h3>
            <span class="price">
                {{currency price}}

                {{ #if inventory.available }}
                    ({{inventory.available}} left)
                {{ else }}
                    (Sold out)
                {{ /if }}
            </span>
            <div class="actions">
                <div class="btn-group btn-group-justified" role="group" aria-label="...">
                    <!--<div class="btn-group" role="group">
                        <button type="button" class="btn btn-default">
                            <i class="mdi-action-favorite-outline"></i>
                        </button>
                    </div>-->
                    <div class="btn-group" role="group">
                        <button type="button" class="btn btn-default shareBtn">
                            <i class="mdi-social-share"></i>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>
