@import (reference) '../../lib/variables.import.less';

#sellButton {
  position: fixed;
  z-index: 100;
  bottom: 30px;
  right: 30px;
  height: 48px;
  width: 48px;
  border-radius: 100%;
  box-shadow: 0 1px 4px fadeout(black, 50%);
  border: 1px solid @brand-primary;
  padding: 1px;


  button {
    background: @brand-primary;
    display: block;
    height: 100%;
    width: 100%;
    border: none;
    border-radius: 100%;
    outline: none;
    padding: 0;
    color: white;
  }
}