<template name="connectionInfo">
    <div id="connectionInfo">
        <p class="info">
            {{ #if isConnecting }}
                {{_ "connectionInfo.connecting.text"}}
            {{ /if }}

            {{ #if isOffline }}
                {{_ "connectionInfo.offline.text"}}
            {{ /if }}

            {{ #if isConnectionFailed }}
                {{_ "connectionInfo.failed.text"}}
            {{ /if }}

            {{ #if isConnectionWaiting }}
                {{_ "connectionInfo.waiting.text"}}
                {{_ "connectionInfo.waiting.reconnection" count=secondsToConnection}}
            {{ /if }}
        </p>
        {{ #if isConnectionWaiting }}
            <button class="btn btn-flat btn-default btn-block btn-lg reconnectBtn">
                <i class="mdi-notification-sync"></i>
            </button>
        {{ /if }}
    </div>
</template>
