<template name="connectionInfo">
    <div id="connectionInfo">
        <div class="wrapper">
            <div class="info">
                {{ #if isConnecting }}
                <p>{{_ "connectionInfo.connecting.text"}}</p>
                {{ /if }}

                {{ #if isOffline }}
                <p>{{_ "connectionInfo.offline.text"}}</p>
                {{ /if }}

                {{ #if isConnectionFailed }}
                <p>{{_ "connectionInfo.failed.text"}}</p>
                {{ /if }}

                {{ #if isConnectionWaiting }}
                <p>
                    {{_ "connectionInfo.waiting.text"}}
                    {{_ "connectionInfo.waiting.reconnection" count=secondsToConnection}}
                </p>
                <button class="btn btn-inverted reconnectBtn">{{_ "connectionInfo.reconnectBtn.text"}}</button>
                {{ /if }}
            </div>
        </div>
    </div>
</template>
