<template name="marketplaceProductsView">
    <div class="marketplace-products-view">
        {{ #with product }}

        <meta property="fb:app_id" content="301234113401207" />
        <meta property="og:type" content="product" />
        <meta property="og:url" content="{{urlFor route='products.view' data=this}}" />
        <meta property="og:title" content="{{title}}" />

        {{ #if image }}
        {{ #with image }}
        {{> marketplaceProductsViewImages }}
        {{ /with }}
        {{ /if }}

        {{> marketplaceProductsViewDetails }}
        {{> marketplaceProductsViewReviews }}
        {{> marketplaceProductsViewOther }}

        {{ /with }}
    </div>
</template>
