@import (reference) '../lib/variables.import.less';
@import (reference) '../lib/mixins.import.less';

.marketplace {
  position: fixed;
  top: 48px;
  bottom: 0;
  left: 0;
  right: 0;

  .box {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    height: 100%;
    width: 100%;
    overflow: auto;

    .item {
      flex-grow: 1;
      flex-shrink: 0;
      padding: @grid-gutter-width / 2;

      .item-header {
        padding: @grid-gutter-width / 2 0;

        .seller {
          .clearfix();

          .avatar {
            height: 40px;
            width: 40px;
            border-radius: 100%;
            .shadow-z(0);
            overflow: hidden;
            float: left;
            margin-right: 5px;

            img {
              display: block;
              height: 100%;
              width: 100%;
            }
          }

          .actions {
            .btn-group {
              margin: 0;
              .shadow-z(0);
              .btn {
                width: 32px;
                padding: 6px;
              }
              &:hover,
              &:focus,
              &.focus,
              &:active,
              &.active {
                .shadow-z(0);
              }
            }
          }
        }
      }

      .item-body {
        background: white;
        .shadow-z(1);
        border-radius: @border-radius-base;
        overflow: hidden;

        .item-images {
          img {
            display: block;
            height: 100%;
            width: 100%;
          }
        }

        .item-action {
          margin: -26px auto 5px;
          width: 58px;
        }

        .item-info {
          text-align: center;
          padding: @grid-gutter-width / 2;

          .item-actions {
            .btn-group {
              .shadow-z(0);
              margin: @grid-gutter-width / 2 0 0 0;

              &:hover,
              &:focus,
              &.focus,
              &:active,
              &.active {
                .shadow-z(0);
              }
            }
          }
        }
      }
    }

    @media (orientation: landscape) {
      flex-direction: column;
      flex-wrap: wrap;

      .item {
        flex-grow: 0;

        .item-body {
          .clearfix();
          width: 636px;

          .item-images {
            float: left;

            img {
              height: 300px;
              width: 300px;
            }
          }

          .item-action {
            float: left;
            margin: 122px 4px 122px -26px;
          }

          .item-info {
            width: 300px;
            height: 300px;
            margin: 0;
            float: left;
            overflow: auto;
          }
        }
      }
    }
  }
}
