<template name="cart">
    <div id="cart" class="modal fade">
        <div class="cart modal-menu modal-menu-right">
            <div class="modal-content">
                <div class="header">
                    <button class="closeBtn btn btn-icon">
                        {{> iconCancel}}
                    </button>
                    <h1>{{_ "cart.header"}}</h1>
                </div>
                <div class="items">
                    {{ #each cartItems }}
                    <div class="item">
                        {{ #with product }}
                        <div class="image">
                            <img src="{{ abs image.url }}">
                        </div>
                        {{ /with }}
                        <div class="remove pull-right">
                            <button class="btn btn-danger btn-lg removeBtn">&times;</button>
                        </div>
                        <div class="quantity pull-right">
                            <input type="text" class="form-control input-lg" name="quantity" value="{{quantity}}" />
                        </div>
                        {{ #with product }}
                        <div class="title">
                            {{ title }}
                        </div>
                        <div class="price">
                            {{ currency price }}
                        </div>
                        {{ /with }}
                    </div>
                    {{ /each }}
                </div>
                <div class="footer">
                    <div class="total">
                        {{_ "cart.subtotal"}} {{ currency total }}
                        <button class="btn btn-primary btn-block purchaseBtn" data-generating-text="{{_ "cart.purchaseBtn.generating"}}">{{_ "cart.purchaseBtn.text"}}</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>
