@import (reference) '../../lib/variables.import.less';
@import (reference) '../../lib/mixins.import.less';

#cart {

  @cart-width: 300px;

  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1000;
  display: none;

  .overlay, .cart {
    height: 100%;
    position: absolute;
  }

  .overlay {
    width: 100%;
    background: fadeout(black, 50%);
  }

  .cart {
    width: 100%;
    max-width: @cart-width;
    background: @body-bg;
    right: 0;

    .header {
      height: 48px;
      margin: 0;

      h1 {
        color: @primary;
        height: 48px;
        margin: 0 48px;
        padding: 0 @grid-gutter-width / 2;
        line-height: 48px;
        font-size: 28px;
        font-weight: 300;
        text-align: center;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
      }

      .closeBtn {
        float: left;
        height: 48px;
        width: 48px;
        background: transparent;
      }
    }

    .items {
      position: absolute;
      top: 48px;
      bottom: 130px;
      width: 100%;
      overflow-x: hidden;
      overflow-y: auto;
      padding: 0 @grid-gutter-width / 2;

      .item {
        .clearfix();
        margin-bottom: @grid-gutter-width / 2;

        .image {
          height: 48px;
          width: 48px;
          padding: 1px;
          border: 1px solid @primary;
          float: left;
          margin-right: 15px;

          img {
            height: 100%;
            width: 100%;
            background: white;
          }
        }
        .quantity input {
          width: 48px;
          height: 48px;
          margin-left: 15px;
          text-align: center;
        }
        .remove button {
          width: 48px;
          height: 48px;
          margin-left: 15px;
          text-align: center;
        }
        .title, .price {
          white-space: nowrap;
          overflow: hidden;
          text-overflow: ellipsis;
        }
        .price {
          color: @primary;
        }
      }
    }

    .footer {
      position: absolute;
      width: 100%;
      height: 130px;
      bottom: 0;
      padding: @grid-gutter-width @grid-gutter-width / 2;

      .total {

      }
    }
  }



  &.visible {
    display: block;
  }
}
