#shopEdit {
  .imagesBlock {
    position: relative;
    height: 414px;
    width: 100%;

    #coverImage {
      position: absolute;
      display: block;
      top: 0;
      left: 0;
      height: 100%;
      width: 100%;
    }
    
    #logoImage {
      position: absolute;
      display: block;
      top: 33%;
      left: 33%;
      height: 33%;
      width: 33%;
    }

  }
}