@import (reference) '../../../lib/variables.import.less';

#shopEdit {
  .imagesBlock {

    img.cover, img.logo, canvas#canvas {
      position: absolute;
      display: block;
    }

    img.cover, canvas#canvas {
      top: 0;
      left: 0;
      height: 100%;
      width: 100%;
    }

    img.logo {
      top: 100% / 3;
      left: 100% / 3;
      height: 100% / 3;
      width: 100% / 3;
    }

    canvas#canvas {
      display: block;
    }

  }

  .container {
    padding: 8px;
  }
}