@import (reference) '../../../lib/variables.import.less';

#shopEdit {
  .imagesBlock {
    position: relative;
    height: 414px;
    width: 100%;

    .uploadBtn {
      background: none;
      padding: 0;
      margin: 0;
      border: none;
      white-space: nowrap;
      cursor: pointer;
      height: @header-buttons-size;
      width: @header-buttons-size;
      outline: none;
      z-index: 10;
      background: fadeout(white, 50%);

      position: absolute;
      right: 0;

      svg {
        height: 100%;
        width: 100%;
        line, polyline {
          stroke: @color-main;
          fill: none;
          stroke-width: 2;
        }
      }
    }

    .uploadMenu {
      display: none;
      margin: 0;
      padding: 0;
      position: absolute;
      right: 0;
      top: @header-buttons-size + 8px;
      width: @header-buttons-size;
      z-index: 10;

      ul.menu {
        display: block;
        margin: 0;
        padding: 0;
        list-style-type: none;
        position: absolute;
        top: 0;

        li {
          display: block;
          height: @header-buttons-size;
          width: @header-buttons-size;
          margin: 0;
          padding: 0;

          button {
            display: block;
            height: @header-buttons-size;
            width: @header-buttons-size;
            background: none;
            border: none;
            margin: 0;
            padding: 0;
            cursor: pointer;
            outline: none;
            background: fadeout(white, 50%);
            position: relative;
            overflow: hidden;

            &.uploadLogoBtn {
              svg {
                height: @header-buttons-size;
                width: @header-buttons-size;
                circle {
                  fill: none;
                  stroke-width: 2;
                  stroke: @color-main;
                }
              }
            }

            &.uploadCoverBtn {
              svg {
                height: @header-buttons-size;
                width: @header-buttons-size;
                rect {
                  fill: none;
                  stroke-width: 2;
                  stroke: @color-main;
                }
              }
            }

            input[type=file] {
              position: absolute;
              top: 0;
              right: 0;
              min-width: 100%;
              min-height: 100%;
              font-size: 100px;
              text-align: right;
              filter: alpha(opacity=0);
              opacity: 0;
              outline: none;
              background: white;
              cursor: inherit;
              display: block;
            }
          }
        }
      }

      svg.tip {
        display: block;
        position: absolute;
        top: -8px;
        polygon {
          fill: fadeout(white, 50%);
        }
      }
    }

    img.cover, img.logo, canvas#coverCanvas, canvas#logoCanvas {
      position: absolute;
      display: block;
    }

    img.cover, canvas#coverCanvas {
      top: 0;
      left: 0;
      height: 100%;
      width: 100%;
    }

    img.logo, canvas#logoCanvas {
      top: 33%;
      left: 33%;
      height: 33%;
      width: 33%;
    }

    canvas#coverCanvas, canvas#logoCanvas {
      display: none;
    }

  }
}