<template name="ordersViewItems">
    <div class="items block">
        <div class="container">
            <h2 class="page-header">Items</h2>
            {{ #each items }}
                <div class="item">
                    {{ #with product }}
                        {{ #if image }}
                        <a href="{{pathFor route='products.view' data=this }}" class="image">
                            <img src="{{ image.url }}" />
                        </a>
                        {{ /if }}
                    {{ /with }}
                    <div class="price">
                        {{ currency price }}
                    </div>
                    <div class="count">
                        × {{ itemCount }}
                    </div>
                    <div class="info">
                        {{ #with product }}
                            <a href="{{pathFor route='products.view' data=this }}" class="title">
                                {{ title }}
                                {{ #if subtitle }}
                                    <span class="subtitle">
                                    / {{ subtitle }}
                                    </span>
                                {{ /if }}
                            </a>
                        {{ /with }}
                        Price: <span class="price">{{ currency itemPrice }}</span>
                    </div>
                </div>
            {{ /each }}
            <div class="total">
                Subtotal: <span class="price">{{ currency subtotal }}</span>
            </div>
            <div class="total">
                Total shipping: <span class="price">{{ currency totalShipping }}</span>
            </div>
            <div class="total">
                Total tax: <span class="price">{{ currency totalTax }}</span>
            </div>
            <div class="total">
                Total: <span class="price">{{ currency total }}</span>
            </div>
        </div>
    </div>
</template>