.images-block {
  background: @brand-primary;
  width: 100%;
  height: 200px;
  position: relative;

  .context-buttons {
    position: absolute;
    z-index: 10;
    right: 0;
    top: 0;
  }
  img {
    width: 100%;
    height: 100%;
  }

  .viewState, .editState {
    height: 100%;
    width: 100%;
    position: absolute;

    nav.context-buttons {
      button {
        display: block;
        float: left;
      }
    }
  }

  .viewState {
    display: block;
  }

  .editState {
    display: none;

    canvas {
      display: block;
      height: 100%;
      width: 100%;
      cursor: move;
    }
  }
}
