<template name="productNotFoundView">
    <div class="product-not-found-view">
        <div class="jumbotron">
            <div class="container">
                <h1>404 - Not found</h1>
            </div>
        </div>
        <div class="container">
            <div class="alert alert-danger">
                <strong>The product you are looking for was not found!</strong>
                It could be deleted by it's owner. Try looking for other products on
                <a href="{{pathFor 'marketplace'}}">
                    Marketplace
                </a>.
            </div>
        </div>
    </div>
</template>
