@import (reference) '../lib/variables.import.less';

nav#menu {
  display: none;
  position: fixed;
  bottom: 0;
  top: 0;
  left: 0;
  width: 300px;
  background: @gray10;
  z-index: 100;
  overflow-x: hidden;
  overflow-y: auto;
}