@import (reference) '../lib/variables.import.less';

nav#menu {
  display: none;
  position: fixed;
  bottom: 0;
  top: 0;
  left: 0;
  width: 300px;
  background: @brand-primary;
  z-index: 100;
  overflow-x: hidden;
  overflow-y: auto;

  .nav {
    > li {
      > a {
        color: white;
        background-color: transparent;

        &:hover,
        &:focus {
          color: @brand-primary;
          background-color: white;
        }
      }
    }
  }

  > h3 {
    color: white;
    padding: 0 15px;
  }

  #login-buttons {
    a.login-link-text {
      color: white;
    }
  }
}