@import (reference) '../../lib/variables.import.less';

#mainToolbar {
  transition: background-color .25s;

  &.transparent {
    background: fade(@brand-primary, 0);
    .title {
      color: fadeout(white, 100%);
    }
  }
}
