@import (reference) '../../lib/variables.import.less';
@import (reference) '../../lib/mixins.import.less';

#mainToolbar {
  transition: box-shadow @transition-duration-base @transition-timing-function-base;
  .shadow-z(0);

  &.navbar-raised {
    .shadow-z(1);
  }

  .logo {
    position: absolute;
    left: 50%;
    padding: 8px;
    margin: 0 -24px;
    z-index: 100;

    .icon-logo {
      height: 32px;
      width: 32px;
      display: block;

      polygon {
        fill: white;
      }
    }
  }
}
