@import (reference) '../../lib/variables.import.less';

#mainToolbar {
    transition: background-color .25s;
    .menuBtn, .backBtn {
        height: @navbar-height;
        width: @navbar-height;
        padding: @navbar-height / 4;
        margin: 0;
        font-size: @navbar-height / 2;
        line-height: 1;
        color: white;
        border-radius: 0;
    }

  &.transparent {
    background: fade(@brand-primary, 0);
    .title {
      color: fadeout(white, 100%);
    }
  }
}
