<template name="marketplaceProductsViewDetails">
    <div class="details">
        <div class="container">
            <h1>{{ title }}</h1>
            <span>{{ currency price }}</span>
            <span>{{ availability }}</span>
            <p>{{ description }}</p>
            {{ #if inCart }}
                <button class="btn btn-default btn-block showCartBtn">
                    In cart
                </button>
            {{ else }}
                <button class="btn btn-default btn-block buyBtn">
                    {{_ "marketplace.products.view.details.buyBtn.text"}}
                </button>
            {{ /if }}
        </div>
    </div>
</template>
