@import (reference) '../../../lib/variables.import.less';
@import (reference) '../../../lib/mixins.import.less';

.mc-input-images {
  .clearfix();

  .add-image {
    float: left;
    height: 100px;
    width: 100px;
    background: white;
    border-radius: @border-radius-base;
    .shadow-z(1);
  }

  .image {
    height: 100px;
    width: 100px;
    background: @brand-primary;
    border-radius: @border-radius-base;
    overflow: hidden;
    float: left;
    margin: 0 10px 10px 0;
    position: relative;

    img {
      height: 100%;
      width: 100%;
    }

    .removeBtn {
      position: absolute;
      top: 0;
      left: 0;
      padding: @padding-base-vertical;
      height: 32px;
      width: 32px;
    }

    .loading {

      svg.loader {
        height: 20px;
        width: 70px;
        margin: 40px 15px;

        circle {
          fill: white;
          -webkit-transform-origin: center;
          -moz-transform-origin: center;
          -o-transform-origin: center;
          transform-origin: center;
          -webkit-animation: loading 1.2s infinite;
          -moz-animation: loading 1.2s infinite;
          -o-animation: loading 1.2s infinite;
          animation: loading 1.2s infinite;

          &:nth-child(1) {
            -webkit-animation-delay: .3s;
            -moz-animation-delay: .3s;
            -o-animation-delay: .3s;
            animation-delay: .3s;
          }
          &:nth-child(2) {
            -webkit-animation-delay: .5s;
            -moz-animation-delay: .5s;
            -o-animation-delay: .5s;
            animation-delay: .5s;
          }
          &:nth-child(3) {
            -webkit-animation-delay: .7s;
            -moz-animation-delay: .7s;
            -o-animation-delay: .7s;
            animation-delay: .7s;
          }
        }
      }
    }
  }

  .uploadBtn, .cameraBtn {
    height: 100px;
    width: 100px;
    font-size: 32px;
    line-height: 32px;
    margin: 0 10px 10px 0;
    display: block;
    float: left;
  }
}
