<template name="mcInputImages">
    <div class="mc-input-images" {{ atts }}>
        {{ #each images }}
            <div class="image">
                {{ #if isReady 's' }}
                    <img src="{{ this.url store='s' }}">
                {{ else }}
                    <div class="loading">
                        <svg class="loader" height="20px" width="70px" viewBox="0 0 70 20">
                            <circle r="4" cy="10" cx="10" ></circle>
                            <circle r="4" cy="10" cx="35" ></circle>
                            <circle r="4" cy="10" cx="60" ></circle>
                        </svg>
                    </div>
                {{ /if }}
                <input type="hidden" value="{{ this._id }}" name="{{ ../atts.name }}[]" />
            </div>
        {{ /each }}

        <button type="button" class="btn btn-primary uploadBtn">
            <i class="mdi-file-file-upload"></i>
        </button>

        {{ #if showCameraButton }}
            <button type="button" class="btn btn-primary cameraBtn">
                <i class="mdi-image-camera"></i>
            </button>
        {{ /if }}
    </div>
</template>
