<template name="mcInputImages">
    <div class="mc-input-images" {{ atts }}>
        {{ #each images }}
            <div class="image">
                <img src="{{ url }}">
                <input type="hidden" value="{{ _id }}" name="{{ ../atts.name }}[]" />
            </div>
        {{ /each }}

        <button type="button" class="btn btn-default btn-lg uploadBtn">
            <i class="mdi-file-file-upload"></i>
        </button>

        <button type="button" class="btn btn-default btn-lg">
            <i class="mdi-image-camera"></i>
        </button>
    </div>
</template>
