<template name="ordersViewDetails">
    <div class="details block">
        <div class="container">
            <h2 class="page-header">Order details</h2>
            {{ #with shop }}
            {{ #if logo }}
            <a href="{{pathFor route='shops.view' data=this }}" class="logo">
                <img src="{{ logo.url }}" />
            </a>
            {{ /if }}
            {{ /with }}
            <b>Order ID: {{ _id }}</b><br>
            <i>
                {{itemsCount}} items from
                {{ #with shop }}
                    <a href="{{pathFor route='shops.view' data=this }}">{{ title }}</a>
                {{ /with }}
            </i>
        </div>
    </div>
</template>