<template name="marketplaceShopsViewProducts">
    <div class="products">
        <div class="container">
            <h2>{{_ "marketplace.shops.view.products.header"}}</h2>
            <div class="row">
                {{ #each products }}
                    <div class="col-xs-6 col-sm-4">
                        <a class="product-card" href="{{pathFor route='products.view' data=this }}">
                            {{ #if image }}
                                <img src="{{ abs image.url }}" />
                            {{ /if }}
                            <div class="info">
                                <h3>
                                    {{ #if title }}
                                        {{title}}
                                    {{ else }}
                                        <i>{{_ "marketplace.shops.view.products.title.none"}}</i>
                                    {{ /if }}
                                </h3>
                                <span class="price">
                                    {{ #if price }}
                                        {{price}}
                                    {{ else }}
                                        <i>{{_ "marketplace.shops.view.products.price.none"}}</i>
                                    {{ /if }}
                                </span>
                            </div>
                        </a>
                    </div>
                {{ /each }}
            </div>
        </div>
    </div>
</template>
