<template name="internalLayout">
    <section class="internalLayout">
        {{> yield}}
    </section>

    {{ #if showCart }}
    <div class="cartBtn">
        {{> iconCart }}
    </div>
    <div class="cart">
        {{ #each cartItems }}
            <div class="cartItem">
                {{ #with product }}
                    <div class="image">
                        <img src="{{image.url}}">
                    </div>
                    {{ title }}
                    {{ price }}
                {{ /with }}
                <div class="quantity">
                    <input type="text" class="form-control" name="quantity" value="{{quantity}}" />
                </div>
                <div class="remove">
                    <button class="btn btn-danger removeBtn">Remove</button>
                </div>
            </div>
        {{ /each }}
        <div class="total">
            {{total}}
            <button class="btn btn-default purchaseBtn" data-generating-text="Generating order...">Purchase</button>
        </div>
    </div>
    {{ /if }}
</template>