<template name="rootLayout">
    <div class="rootLayout">
        <div class="container">
            <div class="row">
                <div class="col-xs-3">
                    <aside>
                        {{> menu}}
                        <h3>Management</h3>
                        {{> myShopsMenu}}
                        <h3>Sign in</h3>
                        {{> login}}
                    </aside>
                </div>
                <div class="col-xs-9">
                    <section>
                        {{> yield}}
                    </section>
                </div>
            </div>
        </div>
    </div>
</template>