@import (reference) '../lib/variables.import.less';

#root {
  > header {
    height: 32px;
    width: 32px;
    position: fixed;
    display: block;
    left: 0;
    top: 0;
    z-index: 10;

    button.menuBtn {
      background: none;
      padding: 0;
      margin: 0;
      border: none;
      white-space: nowrap;
      cursor: pointer;
      height: 32px;
      width: 32px;
      outline: none;

      svg {
        width: 32px;
        height: 32px;
        background: fadeout(white, 50%);

        line {
          stroke: @color-main;
          fill: none;
          stroke-width: 2;
        }
      }
    }
  }

  > section {
    position: fixed;
    display: block;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    overflow: auto;
  }
}