<template name="mainMenu">
    <div id="mainMenu">
        <div class="overlay"></div>
        <div class="menu">
            <div class="header">
                <button class="closeBtn btn btn-icon">
                    {{> iconCancel}}
                </button>
                {{> iconLogo}}
                <h1 class="brand">
                    Merchist
                </h1>
            </div>
            <div class="divider">
                <h6>
                    My Merchist
                </h6>
            </div>
            <ul class="nav nav-pills nav-stacked">
                <li>
                    <a href="{{pathFor route='marketplace'}}">
                        Marketplace
                    </a>
                </li>
                <li>
                    <a href="{{pathFor route='orders'}}">
                        Orders
                    </a>
                </li>
            </ul>
            <div class="divider">
                <h6>
                    Management
                </h6>
            </div>
            <ul class="nav nav-pills nav-stacked">
                {{ #each shops }}
                <li>
                    <a href="{{pathFor route='shops.edit' data=this }}" class="shop">
                        <div class="logo">
                            <img src="{{logo.url}}">
                        </div>
                        {{#if title}}
                            {{ title }}
                        {{else}}
                            <i>Draft shop</i>
                        {{/if}}
                    </a>
                </li>
                {{ /each }}
                <li>
                    <a href="#" class="createShopBtn">

                        {{> iconAdd}}
                        Add new shop
                    </a>
                </li>
            </ul>
            <div class="divider">
                <h6>
                    Info
                </h6>
            </div>
            <ul class="nav nav-pills nav-stacked">
                <li>
                    <a href="">
                        Privacy policy
                    </a>
                </li>
                <li>
                    <a href="">
                        Terms of service
                    </a>
                </li>
            </ul>
            {{> loginButtons}}
            {{ #if currentUser }}
            <div class="profile">
                {{ #with currentUser}}
                    <div class="avatar">
                        <img src="{{avatar}}">
                    </div>
                    <div class="info">
                        <div class="name">Norma Anderson</div>
                        <div class="actions">
                            <a class="btn btn-default btn-xs" href="{{pathFor route='profile'}}">Profile</a>
                            <button class="btn btn-default btn-xs logoutBtn">
                                Log out
                            </button>
                        </div>
                    </div>
                {{ /with }}
            </div>
            {{ else }}
            <div class="auth">
                <button class="btn btn-default btn-lg btn-block">
                    Sign in / Sign up
                </button>
            </div>
            {{ /if }}
        </div>
    </div>
</template>
