@import (reference) '../../../../lib/variables.import.less';

.marketplace-products-view {
  .other {

    h2 {

      small {

      }
    }

    .logo {
      height: 70px;
      width: 70px;
      border-radius: 100%;
      border: 1px solid @brand-primary;
      padding: 1px;

      img {
        height: 100%;
        width: 100%;
        border-radius: 100%;
        background: @brand-primary;
      }
    }
  }
}