<template name="ordersViewDetails">
    <div class="details block">
        <div class="container">
            <h2 class="page-header">Order details</h2>
            <b>Order ID: {{ _id }}</b><br>
            <i>
                {{itemsCount}} items from
            </i>
            {{ #if payable }}
                <button class="btn btn-primary btn-block payWithPayPalBtn" data-generating-text="Generating invoice..." data-redirecting-text="Redirecting to PayPal...">Pay with PayPal</button>
            {{ /if }}
            <div>
                {{ status }}
            </div>
        </div>
    </div>
</template>
