<template name="marketplaceView">
    <div class="marketplace-view">
        <div class="jumbotron">
            <div class="container">
                <h1>Marketplace</h1>
            </div>
        </div>
        <div class="container">
            <div>
                <div class="btn-group pull-right">
                    <button type="button" class="btn btn-primary {{#if showAll}}active{{/if}} btnShowAll">
                        All
                    </button>
                    <button type="button" class="btn btn-primary {{#if showMy}}active{{/if}} btnShowMy">
                        My
                    </button>
                </div>
            </div>
        </div>
        {{> productsListPartial products}}

        {{#if hasMore }}
            <div class="container">
                <button type="button" class="btn btn-primary btn-flat btn-block btnMore" disabled="{{loading}}">Show more</button>
            </div>
        {{/if}}
    </div>
    {{> sellButtonPartial}}
</template>
