<template name="sellView">
    <div class="sell-view">
        <div class="jumbotron">
            <div class="container">
                <h1>Sell</h1>
            </div>
        </div>
        <div class="container">
            <div class="well">
                {{#autoForm collection="Products" id="sellForm" type="insert"}}
                    <fieldset>
                        <legend>New product</legend>
                        {{> afQuickField name='imageIds' type="mcImages"}}
                        {{> afQuickField name='title'}}
                        {{> afQuickField name='description' rows=6}}
                        {{> afQuickField name='price'}}
                    </fieldset>
                {{/autoForm}}
                <div class="form-group">
                    <div class="togglebutton togglebutton-facebook">
                        <label>
                            <input type="checkbox" name="shareOnFacebook" checked={{shareSalesOnFacebook}} /> Share on Facebook
                        </label>
                    </div>
                </div>
                <hr>
                <button type="submit" form="sellForm" class="btn btn-default btn-block">Submit</button>
            </div>
        </div>
    </div>
</template>
