<template name="marketplaceProductsViewOther">
    <div class="other">
        {{ #with shop }}

        <a href="{{pathFor route='shops.view' data=this }}" class="shop">
            {{ #if logo }}
                <div class="logo">
                    <img src="{{ logo.url }}" />
                </div>
            {{ /if }}
            <h2 class="title">{{title}}</h2>
            {{ #if subtitle }}
                <span class="subtitle">{{subtitle}}</span>
            {{ /if }}
        </a>

        <div class="row">
            {{ #each products }}
                <div class="col-xs-6 col-sm-4">
                    <a class="product-card" href="{{pathFor route='product' data=this }}">
                        {{ #if image }}
                            <img src="{{ image.url }}" />
                        {{ /if }}
                        <div class="info">
                            <h3>
                                {{ #if title }}
                                    {{title}}
                                {{ else }}
                                    <i>{{_ "marketplace.products.view.otherProducts.title.none"}}</i>
                                {{ /if }}
                            </h3>
                            <span class="price">
                                {{ #if price }}
                                    {{currency price}}
                                {{ else }}
                                    <i>{{_ "marketplace.products.view.otherProducts.price.none"}}</i>
                                {{ /if }}
                            </span>
                        </div>
                    </a>
                </div>
            {{ /each }}
        </div>

        {{ /with }}
    </div>
</template>
